<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US" class="supernova">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F230597629186873" title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F230597629186873" title="oEmbed Form">
    <meta property="og:title" content="Lighthouse Christian College School Tour">
    <meta property="og:url" content="https://form.jotform.com/230597629186873">
    <meta property="og:description" content="Please click the link to complete this form.">
    <meta name="slack-app-id" content="AHNMASS8M">
    <meta property="og:image" content="https://cdn.jotfor.ms/assets/img/landing/opengraph.png" />
    <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
    <link rel="apple-touch-icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
    <script>
        var favicon = document.querySelector('link[rel="shortcut icon"]');
        window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
        if (favicon && window.isDarkMode) {
            favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
        }
    </script>
    <link rel="canonical" href="https://form.jotform.com/230597629186873" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Lighthouse Christian College School Tour</title>
    <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/form-common.css?v=f746d50
" />
    <style type="text/css">
        @media print {
            * {
                -webkit-print-color-adjust: exact !important;
                color-adjust: exact !important;
            }
            .form-section {
                display: inline !important
            }
            .form-pagebreak {
                display: none !important
            }
            .form-section-closed {
                height: auto !important
            }
            .page-section {
                position: initial !important
            }
        }
    </style>
    <link type="text/css" rel="stylesheet" href="forms/cdn02.jotfor.ms/themes/CSS/defaultV2.css?v=f746d50
" />
    <link type="text/css" rel="stylesheet" href="forms/cdn03.jotfor.ms/themes/CSS/63e1003e313362bb97454c3f.css?v=3.3.48878&themeRevisionID=63ff622b31653607c6b88d66" />
    <link type="text/css" rel="stylesheet" href="forms/cdn01.jotfor.ms/css/styles/payment/payment_styles.css?3.3.48878" />
    <link type="text/css" rel="stylesheet" href="forms/cdn02.jotfor.ms/css/styles/payment/payment_feature.css?3.3.48878" />
    <link type="text/css" rel="stylesheet" href="forms/cdn03.jotfor.ms/stylebuilder/donationBox.css?v=3.3.48878">
    <style type="text/css" id="form-designer-style">
        /* Injected CSS Code */

        /*PREFERENCES STYLE*/

        .form-all {
            font-family: Inter, sans-serif;
        }

        .form-label.form-label-auto {
            display: block;
            float: none;
            text-align: left;
            width: 100%;
        }

        .form-line {
            margin-top: 12px;
            margin-bottom: 12px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .form-all {
            max-width: 952px;
            width: 100%;
        }

        .form-label.form-label-left,
        .form-label.form-label-right,
        .form-label.form-label-left.form-label-auto,
        .form-label.form-label-right.form-label-auto {
            width: 230px;
        }

        .form-all {
            font-size: 16px
        }

        .supernova .form-all,
        .form-all {
            background-color: rgba(255, 255, 255, 0.92);
        }

        .form-all {
            color: #2C3345;
        }

        .form-header-group .form-header {
            color: rgb(36, 155, 180);
        }

        .form-header-group .form-subHeader {
            color: #2C3345;
        }

        .form-label-top,
        .form-label-left,
        .form-label-right,
        .form-html,
        .form-checkbox-item label,
        .form-radio-item label,
        span.FITB .qb-checkbox-label,
        span.FITB .qb-radiobox-label,
        span.FITB .form-radio label,
        span.FITB .form-checkbox label,
        [data-blotid][data-type=checkbox] [data-labelid],
        [data-blotid][data-type=radiobox] [data-labelid],
        span.FITB-inptCont[data-type=checkbox] label,
        span.FITB-inptCont[data-type=radiobox] label {
            color: #2C3345;
        }

        .form-sub-label {
            color: #464d5f;
        }

        .supernova {
            background-color: #f3f3fe;
        }

        .supernova body {
            background: transparent;
        }

        .form-textbox,
        .form-textarea,
        .form-dropdown,
        .form-radio-other-input,
        .form-checkbox-other-input,
        .form-captcha input,
        .form-spinner input {
            background-color: #fff;
        }

        .supernova {
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center top;
        }

        .supernova {
            background-image: url("forms/uploads/itsupport36/form_files/Student%20Leaders%20Photo.64054212e41363.43062074.JPG");
        }

        #stage {
            background-image: url("forms/uploads/itsupport36/form_files/Student%20Leaders%20Photo.64054212e41363.43062074.JPG");
        }

        .form-all {
            background-image: none;
        }

        .form-all:before {
            content: none;
        }

        .form-all {
            margin-top: 72px;
        }

        /*PREFERENCES STYLE*/

        /*__INSPECT_SEPERATOR__*/

        /* Injected CSS Code */
    </style>

    <script src="forms/cdn01.jotfor.ms/static/prototype.forms.js?3.3.48878" type="text/javascript"></script>
    <script src="forms/cdn02.jotfor.ms/static/jotform.forms.js?3.3.48878" type="text/javascript"></script>
    <script defer src="forms/cdn03.jotfor.ms//js/punycode-1.4.1.min.js"></script>
    <script src="forms/cdn01.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.48878" type="text/javascript"></script>
    <script defer src="forms/cdn02.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.48878" type="text/javascript"></script>
    <script defer src="forms/cdn03.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.48878" type="text/javascript"></script>
    <script src="forms/cdn01.jotfor.ms/js/payments/validategateways.js?v=3.3.48878" type="text/javascript"></script>
    <script src="forms/cdn01.jotfor.ms/s/umd/b3694fb29c3/for-appointment-field.js?v=3.3.48878" type="text/javascript"></script>
    <script type="text/javascript">
        JotForm.newDefaultTheme = false;
        JotForm.extendsNewTheme = true;
        JotForm.singleProduct = false;
        JotForm.newPaymentUIForNewCreatedForms = false;
        JotForm.texts = {
            "confirmEmail": "E-mail does not match",
            "pleaseWait": "Please wait...",
            "validateEmail": "You need to validate this e-mail",
            "confirmClearForm": "Are you sure you want to clear the form",
            "lessThan": "Your score should be less than or equal to",
            "incompleteFields": "There are incomplete required fields. Please complete them.",
            "required": "This field is required.",
            "requireOne": "At least one field required.",
            "requireEveryRow": "Every row is required.",
            "requireEveryCell": "Every cell is required.",
            "email": "Enter a valid e-mail address",
            "alphabetic": "This field can only contain letters",
            "numeric": "This field can only contain numeric values",
            "alphanumeric": "This field can only contain letters and numbers.",
            "cyrillic": "This field can only contain cyrillic characters",
            "url": "This field can only contain a valid URL",
            "currency": "This field can only contain currency values.",
            "fillMask": "Field value must fill mask.",
            "uploadExtensions": "You can only upload following files:",
            "noUploadExtensions": "File has no extension file type (e.g. .txt, .png, .jpeg)",
            "uploadFilesize": "File size cannot be bigger than:",
            "uploadFilesizemin": "File size cannot be smaller than:",
            "gradingScoreError": "Score total should only be less than or equal to",
            "inputCarretErrorA": "Input should not be less than the minimum value:",
            "inputCarretErrorB": "Input should not be greater than the maximum value:",
            "maxDigitsError": "The maximum digits allowed is",
            "minCharactersError": "The number of characters should not be less than the minimum value:",
            "maxCharactersError": "The number of characters should not be more than the maximum value:",
            "freeEmailError": "Free email accounts are not allowed",
            "minSelectionsError": "The minimum required number of selections is ",
            "maxSelectionsError": "The maximum number of selections allowed is ",
            "pastDatesDisallowed": "Date must not be in the past.",
            "dateLimited": "This date is unavailable.",
            "dateInvalid": "This date is not valid. The date format is {format}",
            "dateInvalidSeparate": "This date is not valid. Enter a valid {element}.",
            "ageVerificationError": "You must be older than {minAge} years old to submit this form.",
            "multipleFileUploads_typeError": "{file} has invalid extension. Only {extensions} are allowed.",
            "multipleFileUploads_sizeError": "{file} is too large, maximum file size is {sizeLimit}.",
            "multipleFileUploads_minSizeError": "{file} is too small, minimum file size is {minSizeLimit}.",
            "multipleFileUploads_emptyError": "{file} is empty, please select files again without it.",
            "multipleFileUploads_uploadFailed": "File upload failed, please remove it and upload the file again.",
            "multipleFileUploads_onLeave": "The files are being uploaded, if you leave now the upload will be cancelled.",
            "multipleFileUploads_fileLimitError": "Only {fileLimit} file uploads allowed.",
            "dragAndDropFilesHere_infoMessage": "Drag and drop files here",
            "chooseAFile_infoMessage": "Choose a file",
            "maxFileSize_infoMessage": "Max. file size",
            "generalError": "There are errors on the form. Please fix them before continuing.",
            "generalPageError": "There are errors on this page. Please fix them before continuing.",
            "wordLimitError": "Too many words. The limit is",
            "wordMinLimitError": "Too few words.  The minimum is",
            "characterLimitError": "Too many Characters.  The limit is",
            "characterMinLimitError": "Too few characters. The minimum is",
            "ccInvalidNumber": "Credit Card Number is invalid.",
            "ccInvalidCVC": "CVC number is invalid.",
            "ccInvalidExpireDate": "Expire date is invalid.",
            "ccInvalidExpireMonth": "Expiration month is invalid.",
            "ccInvalidExpireYear": "Expiration year is invalid.",
            "ccMissingDetails": "Please fill up the credit card details.",
            "ccMissingProduct": "Please select at least one product.",
            "ccMissingDonation": "Please enter numeric values for donation amount.",
            "disallowDecimals": "Please enter a whole number.",
            "restrictedDomain": "This domain is not allowed",
            "ccDonationMinLimitError": "Minimum amount is {minAmount} {currency}",
            "requiredLegend": "All fields marked with * are required and must be filled.",
            "geoPermissionTitle": "Permission Denied",
            "geoPermissionDesc": "Check your browser's privacy settings.",
            "geoNotAvailableTitle": "Position Unavailable",
            "geoNotAvailableDesc": "Location provider not available. Please enter the address manually.",
            "geoTimeoutTitle": "Timeout",
            "geoTimeoutDesc": "Please check your internet connection and try again.",
            "selectedTime": "Selected Time",
            "formerSelectedTime": "Former Time",
            "cancelAppointment": "Cancel Appointment",
            "cancelSelection": "Cancel Selection",
            "noSlotsAvailable": "No slots available",
            "slotUnavailable": "{time} on {date} has been selected is unavailable. Please select another slot.",
            "multipleError": "There are {count} errors on this page. Please correct them before moving on.",
            "oneError": "There is {count} error on this page. Please correct it before moving on.",
            "doneMessage": "Well done! All errors are fixed.",
            "doneButton": "Done",
            "reviewSubmitText": "Review and Submit",
            "nextButtonText": "Next",
            "prevButtonText": "Previous",
            "seeErrorsButton": "See Errors",
            "notEnoughStock": "Not enough stock for the current selection",
            "notEnoughStock_remainedItems": "Not enough stock for the current selection ({count} items left)",
            "soldOut": "Sold Out",
            "justSoldOut": "Just Sold Out",
            "selectionSoldOut": "Selection Sold Out",
            "subProductItemsLeft": "({count} items left)",
            "startButtonText": "START",
            "submitButtonText": "Submit",
            "submissionLimit": "Sorry! Only one entry is allowed. Multiple submissions are disabled for this form.",
            "reviewBackText": "Back to Form",
            "seeAllText": "See All",
            "progressMiddleText": "of",
            "fieldError": "field has an error.",
            "error": "Error"
        };
        JotForm.newPaymentUI = true;
        JotForm.replaceTagTest = true;

        JotForm.setConditions([{
            "action": [{
                "id": "action_0_1687497460348",
                "visibility": "Show",
                "isError": false,
                "field": "61"
            }],
            "id": "1682488840089",
            "index": "0",
            "link": "Any",
            "priority": "0",
            "terms": [{
                "id": "term_0_1687497460348",
                "field": "43",
                "operator": "equals",
                "value": "ELC  3 y.o. - 4 y.o.",
                "isError": false
            }],
            "type": "field"
        }, {
            "action": [{
                "id": "action_0_1687497522106",
                "visibility": "Show",
                "isError": false,
                "field": "62"
            }],
            "id": "1682488877768",
            "index": "1",
            "link": "Any",
            "priority": "1",
            "terms": [{
                "id": "term_0_1687497522106",
                "field": "43",
                "operator": "equals",
                "value": "PRIMARY  Prep - Year 6",
                "isError": false
            }],
            "type": "field"
        }, {
            "action": [{
                "id": "action_0_1687497527663",
                "visibility": "Show",
                "isError": false,
                "field": "63"
            }],
            "id": "1682488874175",
            "index": "2",
            "link": "Any",
            "priority": "2",
            "terms": [{
                "id": "term_0_1687497527663",
                "field": "43",
                "operator": "equals",
                "value": "SECONDARY  Year 7 - 12",
                "isError": false
            }],
            "type": "field"
        }]);
        JotForm.clearFieldOnHide = "disable";
        JotForm.submitError = "jumpToFirstError";

        JotForm.init(function() {
            /*INIT-START*/

            JotForm.calendarMonths = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            JotForm.appointmentCalendarDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
            JotForm.calendarOther = "Today";
            window.initializeAppointment({
                "text": {
                    "text": "Question",
                    "value": "ELC Appointment"
                },
                "labelAlign": {
                    "text": "Label Align",
                    "value": "Top",
                    "dropdown": [
                        ["Auto", "Auto"],
                        ["Left", "Left"],
                        ["Right", "Right"],
                        ["Top", "Top"]
                    ]
                },
                "required": {
                    "text": "Required",
                    "value": "Yes",
                    "dropdown": [
                        ["No", "No"],
                        ["Yes", "Yes"]
                    ]
                },
                "description": {
                    "text": "Hover Text",
                    "value": "",
                    "textarea": true
                },
                "slotDuration": {
                    "text": "Slot Duration",
                    "value": "60",
                    "dropdown": [
                        [15, "15 min"],
                        [30, "30 min"],
                        [45, "45 min"],
                        [60, "60 min"],
                        ["custom", "Custom min"]
                    ],
                    "hint": "Select how long each slot will be."
                },
                "startDate": {
                    "text": "Start Date",
                    "value": ""
                },
                "endDate": {
                    "text": "End Date",
                    "value": ""
                },
                "intervals": {
                    "text": "Intervals",
                    "value": [{
                        "from": "9:30",
                        "to": "10:30",
                        "days": ["Wed"]
                    }],
                    "hint": "The hours will be applied to the selected days and repeated."
                },
                "useBlockout": {
                    "text": "Blockout Custom Dates",
                    "value": "No",
                    "dropdown": [
                        ["No", "No"],
                        ["Yes", "Yes"]
                    ],
                    "hint": "Disable certain date(s) in the calendar."
                },
                "blockoutDates": {
                    "text": "Blockout dates",
                    "value": [{
                        "startDate": "2023-06-23",
                        "endDate": "2023-07-09"
                    }]
                },
                "useLunchBreak": {
                    "text": "Lunch Time",
                    "value": "No",
                    "dropdown": [
                        ["No", "No"],
                        ["Yes", "Yes"]
                    ],
                    "hint": "Enable lunchtime in the calendar."
                },
                "lunchBreak": {
                    "text": "Lunchtime hours",
                    "value": [{
                        "from": "12:00",
                        "to": "14:00"
                    }]
                },
                "timezone": {
                    "text": "Timezone",
                    "value": "Australia\u002FMelbourne (GMT+10:00)"
                },
                "timeFormat": {
                    "text": "Time Format",
                    "value": "AM\u002FPM",
                    "dropdown": [
                        ["24 Hour", "24 Hour"],
                        ["AM\u002FPM", "AM\u002FPM"]
                    ],
                    "icon": "images\u002Fblank.gif",
                    "iconClassName": "toolbar-time_format_24"
                },
                "months": {
                    "value": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                    "hidden": true
                },
                "days": {
                    "value": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                    "hidden": true
                },
                "startWeekOn": {
                    "text": "Start Week On",
                    "value": "Monday",
                    "dropdown": [
                        ["Monday", "Monday"],
                        ["Sunday", "Sunday"]
                    ],
                    "toolbar": false
                },
                "rollingDays": {
                    "text": "Rolling Days",
                    "value": "",
                    "toolbar": false
                },
                "prevMonthButtonText": {
                    "text": "Previous month",
                    "value": ""
                },
                "nextMonthButtonText": {
                    "text": "Next month",
                    "value": ""
                },
                "prevYearButtonText": {
                    "text": "Previous year",
                    "value": ""
                },
                "nextYearButtonText": {
                    "text": "Next year",
                    "value": ""
                },
                "prevDayButtonText": {
                    "text": "Previous day",
                    "value": ""
                },
                "nextDayButtonText": {
                    "text": "Next day",
                    "value": ""
                },
                "appointmentType": {
                    "hidden": true,
                    "value": "multiple"
                },
                "autoDetectTimezone": {
                    "hidden": true,
                    "value": "No"
                },
                "dateFormat": {
                    "hidden": true,
                    "value": "dd\u002Fmm\u002Fyyyy"
                },
                "hidden": {
                    "hidden": true,
                    "value": "No"
                },
                "maxAttendee": {
                    "hidden": true,
                    "value": "6"
                },
                "maxEvents": {
                    "hidden": true,
                    "value": "6"
                },
                "minScheduleNotice": {
                    "hidden": true,
                    "value": "3"
                },
                "name": {
                    "hidden": true,
                    "value": "elcAppointment"
                },
                "order": {
                    "hidden": true,
                    "value": "4"
                },
                "qid": {
                    "toolbar": false,
                    "value": "input_61"
                },
                "reminderEmails": {
                    "hidden": true,
                    "value": {
                        "schedule": [{
                            "value": "24",
                            "unit": "hour"
                        }],
                        "emailSettings": {
                            "PDFPassword": "",
                            "attachPDF": "false",
                            "updateEmail": "true",
                            "type": "APPOINTMENT_REMINDER",
                            "to": [{
                                "id": "4",
                                "value": "{email4}",
                                "name": "E-mail",
                                "text": "E-mail",
                                "isValid": "true",
                                "isQuestion": "true"
                            }],
                           
                "type": {
                    "hidden": true,
                    "value": "control_appointment"
                },
                "useReminderEmails": {
                    "hidden": true,
                    "value": "Yes"
                },
                "id": {
                    "toolbar": false,
                    "value": "61"
                },
                "qname": {
                    "toolbar": false,
                    "value": "q61_elcAppointment"
                },
                "cdnconfig": {
                    "CDN": "https:\u002F\u002Fcdn.jotfor.ms\u002F"
                },
                "passive": false,
                "formProperties": {
                    "highlightLine": "Enabled",
                    "coupons": false,
                    "useStripeCoupons": false,
                    "taxes": [{
                        "exemptions": "[]",
                        "rate": "0",
                        "surcharge": "{}"
                    }],
                    "comparePaymentForm": "",
                    "paymentListSettings": false,
                    "newPaymentUIForNewCreatedForms": false,
                    "formBackground": "rgba(255,255,255,0.92)",
                    "newAppointment": false,
                    "isAutoCompleteEnabled": true
                },
                "formID": 230597629186873,
                "isPaymentForm": false,
                "isOpenedInPortal": false,
                "isCheckoutForm": false,
                "isOfflineForms": false,
                "SSL_URL": "https:\u002F\u002Fwww.jotform.com\u002F",
                "themeVersion": "v2",
                "isEnterprise": false,
                "environment": "PRODUCTION"
            });

            JotForm.calendarMonths = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            JotForm.appointmentCalendarDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
            JotForm.calendarOther = "Today";
            window.initializeAppointment({
                "text": {
                    "text": "Question",
                    "value": "Primary Appointment"
                },
                "labelAlign": {
                    "text": "Label Align",
                    "value": "Top",
                    "dropdown": [
                        ["Auto", "Auto"],
                        ["Left", "Left"],
                        ["Right", "Right"],
                        ["Top", "Top"]
                    ]
                },
                "required": {
                    "text": "Required",
                    "value": "Yes",
                    "dropdown": [
                        ["No", "No"],
                        ["Yes", "Yes"]
                    ]
                },
                "description": {
                    "text": "Hover Text",
                    "value": "",
                    "textarea": true
                },
                "slotDuration": {
                    "text": "Slot Duration",
                    "value": "60",
                    "dropdown": [
                        [15, "15 min"],
                        [30, "30 min"],
                        [45, "45 min"],
                        [60, "60 min"],
                        ["custom", "Custom min"]
                    ],
                    "hint": "Select how long each slot will be."
                },
                "startDate": {
                    "text": "Start Date",
                    "value": ""
                },
                "endDate": {
                    "text": "End Date",
                    "value": ""
                },
                "intervals": {
                    "text": "Intervals",
                    "value": [{
                        "from": "09:30",
                        "to": "10:30",
                        "days": ["Tue", "Thu"]
                    }],
                    "hint": "The hours will be applied to the selected days and repeated."
                },
                "useBlockout": {
                    "text": "Blockout Custom Dates",
                    "value": "No",
                    "dropdown": [
                        ["No", "No"],
                        ["Yes", "Yes"]
                    ],
                    "hint": "Disable certain date(s) in the calendar."
                },
                "blockoutDates": {
                    "text": "Blockout dates",
                    "value": [{
                        "startDate": "2023-06-23",
                        "endDate": "2023-07-09"
                    }]
                },
                "useLunchBreak": {
                    "text": "Lunch Time",
                    "value": "No",
                    "dropdown": [
                        ["No", "No"],
                        ["Yes", "Yes"]
                    ],
                    "hint": "Enable lunchtime in the calendar."
                },
                "lunchBreak": {
                    "text": "Lunchtime hours",
                    "value": [{
                        "from": "12:00",
                        "to": "14:00"
                    }]
                },
                "timezone": {
                    "text": "Timezone",
                    "value": "Australia\u002FMelbourne (GMT+10:00)"
                },
                "timeFormat": {
                    "text": "Time Format",
                    "value": "24 Hour",
                    "dropdown": [
                        ["24 Hour", "24 Hour"],
                        ["AM\u002FPM", "AM\u002FPM"]
                    ],
                    "icon": "images\u002Fblank.gif",
                    "iconClassName": "toolbar-time_format_24"
                },
                "months": {
                    "value": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                    "hidden": true
                },
                "days": {
                    "value": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                    "hidden": true
                },
                "startWeekOn": {
                    "text": "Start Week On",
                    "value": "Monday",
                    "dropdown": [
                        ["Monday", "Monday"],
                        ["Sunday", "Sunday"]
                    ],
                    "toolbar": false
                },
                "rollingDays": {
                    "text": "Rolling Days",
                    "value": "",
                    "toolbar": false
                },
                "prevMonthButtonText": {
                    "text": "Previous month",
                    "value": ""
                },
                "nextMonthButtonText": {
                    "text": "Next month",
                    "value": ""
                },
                "prevYearButtonText": {
                    "text": "Previous year",
                    "value": ""
                },
                "nextYearButtonText": {
                    "text": "Next year",
                    "value": ""
                },
                "prevDayButtonText": {
                    "text": "Previous day",
                    "value": ""
                },
                "nextDayButtonText": {
                    "text": "Next day",
                    "value": ""
                },
                "appointmentType": {
                    "hidden": true,
                    "value": "multiple"
                },
                "autoDetectTimezone": {
                    "hidden": true,
                    "value": "No"
                },
                "dateFormat": {
                    "hidden": true,
                    "value": "dd\u002Fmm\u002Fyyyy"
                },
                "hidden": {
                    "hidden": true,
                    "value": "No"
                },
                "maxAttendee": {
                    "hidden": true,
                    "value": "6"
                },
                "maxEvents": {
                    "hidden": true,
                    "value": "6"
                },
                "minScheduleNotice": {
                    "hidden": true,
                    "value": "3"
                },
                "name": {
                    "hidden": true,
                    "value": "appointment62"
                },
                "order": {
                    "hidden": true,
                    "value": "5"
                },
                "qid": {
                    "toolbar": false,
                    "value": "input_62"
                },
                "reminderEmails": {
                    "hidden": true,
                    "value": {
                        "schedule": [{
                            "value": "24",
                            "unit": "hour"
                        }],
                        "emailSettings": {
                            "PDFPassword": "",
                            "attachPDF": "false",
                            "updateEmail": "true",
                            "type": "APPOINTMENT_REMINDER",
                            "to": [{
                                "id": "4",
                                "value": "{email4}",
                                "name": "E-mail",
                                "text": "E-mail",
                                "isValid": "true",
                                "isQuestion": "true"
                            }],
                           
                "type": {
                    "hidden": true,
                    "value": "control_appointment"
                },
                "useReminderEmails": {
                    "hidden": true,
                    "value": "Yes"
                },
                "id": {
                    "toolbar": false,
                    "value": "62"
                },
                "qname": {
                    "toolbar": false,
                    "value": "q62_appointment62"
                },
                "cdnconfig": {
                    "CDN": "https:\u002F\u002Fcdn.jotfor.ms\u002F"
                },
                "passive": false,
                "formProperties": {
                    "highlightLine": "Enabled",
                    "coupons": false,
                    "useStripeCoupons": false,
                    "taxes": [{
                        "exemptions": "[]",
                        "rate": "0",
                        "surcharge": "{}"
                    }],
                    "comparePaymentForm": "",
                    "paymentListSettings": false,
                    "newPaymentUIForNewCreatedForms": false,
                    "formBackground": "rgba(255,255,255,0.92)",
                    "newAppointment": false,
                    "isAutoCompleteEnabled": true
                },
                "formID": 230597629186873,
                "isPaymentForm": false,
                "isOpenedInPortal": false,
                "isCheckoutForm": false,
                "isOfflineForms": false,
                "SSL_URL": "https:\u002F\u002Fwww.jotform.com\u002F",
                "themeVersion": "v2",
                "isEnterprise": false,
                "environment": "PRODUCTION"
            });

            JotForm.calendarMonths = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            JotForm.appointmentCalendarDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
            JotForm.calendarOther = "Today";
            window.initializeAppointment({
                "text": {
                    "text": "Question",
                    "value": "Secondary Appointment"
                },
                "labelAlign": {
                    "text": "Label Align",
                    "value": "Top",
                    "dropdown": [
                        ["Auto", "Auto"],
                        ["Left", "Left"],
                        ["Right", "Right"],
                        ["Top", "Top"]
                    ]
                },
                "required": {
                    "text": "Required",
                    "value": "Yes",
                    "dropdown": [
                        ["No", "No"],
                        ["Yes", "Yes"]
                    ]
                },
                "description": {
                    "text": "Hover Text",
                    "value": "",
                    "textarea": true
                },
                "slotDuration": {
                    "text": "Slot Duration",
                    "value": "60",
                    "dropdown": [
                        [15, "15 min"],
                        [30, "30 min"],
                        [45, "45 min"],
                        [60, "60 min"],
                        ["custom", "Custom min"]
                    ],
                    "hint": "Select how long each slot will be."
                },
                "startDate": {
                    "text": "Start Date",
                    "value": ""
                },
                "endDate": {
                    "text": "End Date",
                    "value": ""
                },
                "intervals": {
                    "text": "Intervals",
                    "value": [{
                        "from": "09:30",
                        "to": "10:30",
                        "days": ["Tue", "Thu"]
                    }],
                    "hint": "The hours will be applied to the selected days and repeated."
                },
                "useBlockout": {
                    "text": "Blockout Custom Dates",
                    "value": "No",
                    "dropdown": [
                        ["No", "No"],
                        ["Yes", "Yes"]
                    ],
                    "hint": "Disable certain date(s) in the calendar."
                },
                "blockoutDates": {
                    "text": "Blockout dates",
                    "value": [{
                        "startDate": "2023-06-23",
                        "endDate": "2023-07-09"
                    }]
                },
                "useLunchBreak": {
                    "text": "Lunch Time",
                    "value": "No",
                    "dropdown": [
                        ["No", "No"],
                        ["Yes", "Yes"]
                    ],
                    "hint": "Enable lunchtime in the calendar."
                },
                "lunchBreak": {
                    "text": "Lunchtime hours",
                    "value": [{
                        "from": "12:00",
                        "to": "14:00"
                    }]
                },
                "timezone": {
                    "text": "Timezone",
                    "value": "Australia\u002FMelbourne (GMT+10:00)"
                },
                "timeFormat": {
                    "text": "Time Format",
                    "value": "AM\u002FPM",
                    "dropdown": [
                        ["24 Hour", "24 Hour"],
                        ["AM\u002FPM", "AM\u002FPM"]
                    ],
                    "icon": "images\u002Fblank.gif",
                    "iconClassName": "toolbar-time_format_24"
                },
                "months": {
                    "value": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                    "hidden": true
                },
                "days": {
                    "value": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                    "hidden": true
                },
                "startWeekOn": {
                    "text": "Start Week On",
                    "value": "Sunday",
                    "dropdown": [
                        ["Monday", "Monday"],
                        ["Sunday", "Sunday"]
                    ],
                    "toolbar": false
                },
                "rollingDays": {
                    "text": "Rolling Days",
                    "value": "",
                    "toolbar": false
                },
                "prevMonthButtonText": {
                    "text": "Previous month",
                    "value": ""
                },
                "nextMonthButtonText": {
                    "text": "Next month",
                    "value": ""
                },
                "prevYearButtonText": {
                    "text": "Previous year",
                    "value": ""
                },
                "nextYearButtonText": {
                    "text": "Next year",
                    "value": ""
                },
                "prevDayButtonText": {
                    "text": "Previous day",
                    "value": ""
                },
                "nextDayButtonText": {
                    "text": "Next day",
                    "value": ""
                },
                "appointmentType": {
                    "hidden": true,
                    "value": "multiple"
                },
                "autoDetectTimezone": {
                    "hidden": true,
                    "value": "No"
                },
                "dateFormat": {
                    "hidden": true,
                    "value": "dd\u002Fmm\u002Fyyyy"
                },
                "hidden": {
                    "hidden": true,
                    "value": "No"
                },
                "maxAttendee": {
                    "hidden": true,
                    "value": "6"
                },
                "maxEvents": {
                    "hidden": true,
                    "value": "6"
                },
                "minScheduleNotice": {
                    "hidden": true,
                    "value": "3"
                },
                "name": {
                    "hidden": true,
                    "value": "appointment63"
                },
                "order": {
                    "hidden": true,
                    "value": "6"
                },
                "qid": {
                    "toolbar": false,
                    "value": "input_63"
                },
                "reminderEmails": {
                    "hidden": true,
                    "value": {
                        "schedule": [{
                            "value": "24",
                            "unit": "hour"
                        }],
                        "emailSettings": {
                            "PDFPassword": "",
                            "attachPDF": "false",
                            "updateEmail": "true",
                            "type": "APPOINTMENT_REMINDER",
                            "to": [{
                                "id": "4",
                                "value": "{email4}",
                                "name": "E-mail",
                                "text": "E-mail",
                                "isValid": "true",
                                "isQuestion": "true"
                            }],
                           
                "type": {
                    "hidden": true,
                    "value": "control_appointment"
                },
                "useReminderEmails": {
                    "hidden": true,
                    "value": "Yes"
                },
                "id": {
                    "toolbar": false,
                    "value": "63"
                },
                "qname": {
                    "toolbar": false,
                    "value": "q63_appointment63"
                },
                "cdnconfig": {
                    "CDN": "https:\u002F\u002Fcdn.jotfor.ms\u002F"
                },
                "passive": false,
                "formProperties": {
                    "highlightLine": "Enabled",
                    "coupons": false,
                    "useStripeCoupons": false,
                    "taxes": [{
                        "exemptions": "[]",
                        "rate": "0",
                        "surcharge": "{}"
                    }],
                    "comparePaymentForm": "",
                    "paymentListSettings": false,
                    "newPaymentUIForNewCreatedForms": false,
                    "formBackground": "rgba(255,255,255,0.92)",
                    "newAppointment": false,
                    "isAutoCompleteEnabled": true
                },
                "formID": 230597629186873,
                "isPaymentForm": false,
                "isOpenedInPortal": false,
                "isCheckoutForm": false,
                "isOfflineForms": false,
                "SSL_URL": "https:\u002F\u002Fwww.jotform.com\u002F",
                "themeVersion": "v2",
                "isEnterprise": false,
                "environment": "PRODUCTION"
            });
            JotForm.setPhoneMaskingValidator('input_5_full', '\u0028\u0023\u0023\u0023\u0029 \u0023\u0023\u0023\u002d\u0023\u0023\u0023\u0023');
            /*INIT-END*/
        });

        setTimeout(function() {
            JotForm.paymentExtrasOnTheFly([null, null, null, {
                "description": "",
                "name": "parentsName",
                "qid": "3",
                "text": "Parent's Name",
                "type": "control_fullname"
            }, {
                "description": "",
                "name": "email4",
                "qid": "4",
                "subLabel": "example@example.com",
                "text": "E-mail",
                "type": "control_email"
            }, {
                "description": "",
                "name": "phoneNumber5",
                "qid": "5",
                "text": "Phone Number",
                "type": "control_phone"
            }, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, {
                "name": "submit",
                "qid": "25",
                "text": "Submit",
                "type": "control_button"
            }, null, {
                "name": "divider",
                "qid": "27",
                "text": "Divider",
                "type": "control_divider"
            }, {
                "name": "input28",
                "qid": "28",
                "text": "Lighthouse Christian College School Tour\nABOUT\nLighthouse Christian College invites prospective students and parents to spend an hour touring the school in a small group.\nThis provides an opportunity to see our classrooms, grounds, facilities and hear about our programs.\n \nVENUELighthouse Christian College927 Springvale RoadKeysborough, VIC 3173\nSchool Tours start in the Reception area at the Administration Hub\nA maximum of 6 families per tour\nAll school tours start at 9:30am",
                "type": "control_text"
            }, {
                "name": "pageBreak29",
                "qid": "29",
                "text": "Page Break",
                "type": "control_pagebreak"
            }, null, null, null, null, null, null, null, null, null, null, null, {
                "name": "uponSubmission",
                "qid": "41",
                "text": "Upon submission of your booking, an email will be sent to you containing the date and time of your scheduled tour.",
                "type": "control_head"
            }, null, {
                "description": "",
                "name": "yearLevel",
                "qid": "43",
                "text": "YEAR LEVEL",
                "type": "control_radio"
            }, null, null, null, {
                "description": "",
                "name": "proposedYear",
                "qid": "47",
                "text": "Proposed Year of Entry",
                "type": "control_checkbox"
            }, {
                "description": "",
                "name": "proposedYear48",
                "qid": "48",
                "subLabel": "",
                "text": "Proposed Year level",
                "type": "control_dropdown"
            }, null, null, null, null, {
                "name": "divider53",
                "qid": "53",
                "text": "Divider",
                "type": "control_divider"
            }, null, null, null, null, null, null, null, {
                "description": "",
                "name": "elcAppointment",
                "qid": "61",
                "text": "ELC Appointment",
                "type": "control_appointment"
            }, {
                "description": "",
                "name": "appointment62",
                "qid": "62",
                "text": "Primary Appointment",
                "type": "control_appointment"
            }, {
                "description": "",
                "name": "appointment63",
                "qid": "63",
                "text": "Secondary Appointment",
                "type": "control_appointment"
            }]);
        }, 20);
    </script>
</head>

<body>
    <form class="jotform-form" onsubmit="return typeof testSubmitFunction !== 'undefined' && testSubmitFunction();" action="https://submit.jotform.com/submit/230597629186873" method="post" name="form_230597629186873" id="230597629186873" accept-charset="utf-8"
        autocomplete="on"><input type="hidden" name="formID" value="230597629186873" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" /><input type="hidden" id="jsExecutionTracker" name="jsExecutionTracker" value="build-date-1702284167755"
        /><input type="hidden" id="submitSource" name="submitSource" value="unknown" /><input type="hidden" id="buildDate" name="buildDate" value="1702284167755" />
        <div role="main" class="form-all">
            <ul class="form-section page-section">
                <li class="form-line" data-type="control_text" id="id_28">
                    <div id="cid_28" class="form-input-wide" data-layout="full">
                        <div id="text_28" class="form-html" data-component="text" tabindex="0">
                            <p style="text-align: center;"><span style="font-size: 18pt;"><strong style="color: #2656c5;">Lighthouse Christian College School Tour</strong></span></p>
                            <p style="text-align: left;"><strong style="color: #2656c5;">ABOUT</strong></p>
                            <p>Lighthouse Christian College invites prospective students and parents to spend an hour touring the school in a small group.</p>
                            <p>This provides an opportunity to see our classrooms, grounds, facilities and hear about our programs.</p>
                            <p> </p>
                            <p><span style="color: #2656c5;"><strong>VENUE</strong></span><br />Lighthouse Christian College<br />927 Springvale Road<br />Keysborough, VIC 3173</p>
                            <p><span style="font-size: 12pt;">School Tours start in the Reception area at the Administration Hub</span></p>
                            <p><span style="font-size: 12pt;">A maximum of 6 families per tour</span></p>
                            <p><span style="font-size: 12pt;">All school tours start at 9:30am</span></p>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_divider" id="id_53">
                    <div id="cid_53" class="form-input-wide" data-layout="full">
                        <div class="divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#e6e6e6;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px"></div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_radio" id="id_43"><label class="form-label form-label-top form-label-auto" id="label_43" aria-hidden="false"> YEAR LEVEL<span class="form-required">*</span> </label>
                    <div id="cid_43" class="form-input-wide jf-required" data-layout="full">
                        <div class="form-multiple-column" data-columncount="3" role="group" aria-labelledby="label_43" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_43" class="form-radio validate[required]" id="input_43_0" name="q43_yearLevel" value="ELC  3 y.o. - 4 y.o." required=""
                            /><label id="label_input_43_0" for="input_43_0">ELC  3 y.o. - 4 y.o.</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_43" class="form-radio validate[required]"
                                id="input_43_1" name="q43_yearLevel" value="PRIMARY  Prep - Year 6" required="" /><label id="label_input_43_1" for="input_43_1">PRIMARY  Prep - Year 6</label></span><span class="form-radio-item"><span class="dragger-item"></span><input
                                type="radio" aria-describedby="label_43" class="form-radio validate[required]" id="input_43_2" name="q43_yearLevel" value="SECONDARY  Year 7 - 12" required="" /><label id="label_input_43_2" for="input_43_2">SECONDARY  Year 7 - 12</label></span>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required form-field-hidden" style="display:none;" data-type="control_appointment" id="id_61"><label class="form-label form-label-top" id="label_61" for="input_61" aria-hidden="false"> ELC Appointment<span class="form-required">*</span> </label>
                    <div id="cid_61" class="form-input-wide jf-required" data-layout="full">
                        <div id="input_61" class="appointmentFieldWrapper jfQuestion-fields"><input type="hidden" class="appointmentFieldInput" name="q61_elcAppointment[implementation]" value="new" id="input_61implementation" aria-hidden="true" /><input type="hidden" class="appointmentFieldInput validate" name="q61_elcAppointment[date]"
                                id="input_61_date" data-timeformat="AM/PM" aria-hidden="true" /><input type="hidden" class="appointmentFieldInput" name="q61_elcAppointment[duration]" value="60" id="input_61_duration" aria-hidden="true" /><input type="hidden"
                                class="appointmentFieldInput" name="q61_elcAppointment[timezone]" value="Australia/Melbourne (GMT+10:00)" id="input_61_timezone" aria-hidden="true" />
                            <div class="appointmentField"></div>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required form-field-hidden" style="display:none;" data-type="control_appointment" id="id_62"><label class="form-label form-label-top" id="label_62" for="input_62" aria-hidden="false"> Primary Appointment<span class="form-required">*</span> </label>
                    <div id="cid_62" class="form-input-wide jf-required" data-layout="full">
                        <div id="input_62" class="appointmentFieldWrapper jfQuestion-fields"><input type="hidden" class="appointmentFieldInput" name="q62_appointment62[implementation]" value="new" id="input_62implementation" aria-hidden="true" /><input type="hidden" class="appointmentFieldInput validate" name="q62_appointment62[date]"
                                id="input_62_date" data-timeformat="24 Hour" aria-hidden="true" /><input type="hidden" class="appointmentFieldInput" name="q62_appointment62[duration]" value="60" id="input_62_duration" aria-hidden="true" /><input type="hidden"
                                class="appointmentFieldInput" name="q62_appointment62[timezone]" value="Australia/Melbourne (GMT+10:00)" id="input_62_timezone" aria-hidden="true" />
                            <div class="appointmentField"></div>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required form-field-hidden" style="display:none;" data-type="control_appointment" id="id_63"><label class="form-label form-label-top" id="label_63" for="input_63" aria-hidden="false"> Secondary Appointment<span class="form-required">*</span> </label>
                    <div id="cid_63" class="form-input-wide jf-required" data-layout="full">
                        <div id="input_63" class="appointmentFieldWrapper jfQuestion-fields"><input type="hidden" class="appointmentFieldInput" name="q63_appointment63[implementation]" value="new" id="input_63implementation" aria-hidden="true" /><input type="hidden" class="appointmentFieldInput validate" name="q63_appointment63[date]"
                                id="input_63_date" data-timeformat="AM/PM" aria-hidden="true" /><input type="hidden" class="appointmentFieldInput" name="q63_appointment63[duration]" value="60" id="input_63_duration" aria-hidden="true" /><input type="hidden"
                                class="appointmentFieldInput" name="q63_appointment63[timezone]" value="Australia/Melbourne (GMT+10:00)" id="input_63_timezone" aria-hidden="true" />
                            <div class="appointmentField"></div>
                        </div>
                    </div>
                </li>
                <li id="cid_29" class="form-input-wide" data-type="control_pagebreak">
                    <div class="form-pagebreak" data-component="pagebreak">
                        <div class="form-pagebreak-back-container"><button id="form-pagebreak-back_29" type="button" class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">Back</button></div>
                        <div class="form-pagebreak-next-container"><button id="form-pagebreak-next_29" type="button" class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">Next</button></div>
                        <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_29"></div>
                    </div>
                </li>
            </ul>
            <ul class="form-section page-section" style="display:none;">
                <li class="form-line" data-type="control_divider" id="id_27">
                    <div id="cid_27" class="form-input-wide" data-layout="full">
                        <div class="divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#e6e6e6;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px"></div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_fullname" id="id_3"><label class="form-label form-label-top form-label-auto" id="label_3" for="first_3" aria-hidden="false"> Parent's Name<span class="form-required">*</span> </label>
                    <div id="cid_3" class="form-input-wide jf-required" data-layout="full">
                        <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_3" name="q3_parentsName[first]" class="form-textbox validate[required]" data-defaultvalue="" size="10" data-component="first" aria-labelledby="label_3 sublabel_3_first" required="" value="" /><label class="form-sub-label" for="first_3" id="sublabel_3_first" style="min-height:13px" aria-hidden="false">First Name</label></span>
                            <span
                                class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_3" name="q3_parentsName[last]" class="form-textbox validate[required]" data-defaultvalue="" size="15" data-component="last" aria-labelledby="label_3 sublabel_3_last" required="" value="" />
                                <label
                                    class="form-sub-label" for="last_3" id="sublabel_3_last" style="min-height:13px" aria-hidden="false">Last Name</label>
                                    </span>
                        </div>
                    </div>
                </li>
                <li class="form-line form-line-column form-col-1 jf-required" data-type="control_email" id="id_4"><label class="form-label form-label-top form-label-auto" id="label_4" for="input_4" aria-hidden="false"> E-mail<span class="form-required">*</span> </label>
                    <div id="cid_4" class="form-input-wide jf-required" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="email" id="input_4" name="q4_email4" class="form-textbox validate[required, Email]" data-defaultvalue="" style="width:310px" size="310" placeholder="ex: myname@example.com" data-component="email" aria-labelledby="label_4 sublabel_input_4" required="" value="" /><label class="form-sub-label" for="input_4" id="sublabel_input_4" style="min-height:13px" aria-hidden="false">example@example.com</label></span>                        </div>
                </li>
                <li class="form-line form-line-column form-col-2" data-type="control_phone" id="id_5"><label class="form-label form-label-top form-label-auto" id="label_5" for="input_5_full"> Phone Number </label>
                    <div id="cid_5" class="form-input-wide" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="input_5_full" name="q5_phoneNumber5[full]" data-type="mask-number" class="mask-phone-number form-textbox validate[Fill Mask]" data-defaultvalue="" style="width:310px" data-masked="true" placeholder="(000) 000-0000" data-component="phone" aria-labelledby="label_5" value="" /></span>                        </div>
                </li>
                <li class="form-line jf-required" data-type="control_checkbox" id="id_47"><label class="form-label form-label-top form-label-auto" id="label_47" aria-hidden="false"> Proposed Year of Entry<span class="form-required">*</span> </label>
                    <div id="cid_47" class="form-input-wide jf-required" data-layout="full">
                        <div class="form-multiple-column" data-columncount="4" role="group" aria-labelledby="label_47" data-component="checkbox"><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_47" class="form-checkbox validate[required]" id="input_47_0" name="q47_proposedYear[]" value="2023" required="" />
                            <label
                                id="label_input_47_0" for="input_47_0">2023</label>
                                </span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_47" class="form-checkbox validate[required]" id="input_47_1" name="q47_proposedYear[]" value="2024" required=""
                                /><label id="label_input_47_1" for="input_47_1">2024</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_47" class="form-checkbox validate[required]"
                                    id="input_47_2" name="q47_proposedYear[]" value="2025" required="" /><label id="label_input_47_2" for="input_47_2">2025</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox"
                                    aria-describedby="label_47" class="form-checkbox validate[required]" id="input_47_3" name="q47_proposedYear[]" value="2026" required="" /><label id="label_input_47_3" for="input_47_3">2026</label></span><span class="form-checkbox-item formCheckboxOther"><input type="checkbox" class="form-checkbox-other form-checkbox validate[required]" name="q47_proposedYear[other]" id="other_47" value="other" tabindex="0" aria-label="Other" /><label id="label_other_47" style="text-indent:0" for="other_47">Other</label><span id="other_47_input" class="other-input-container" style="display:none"><input type="text" class="form-checkbox-other-input form-textbox" name="q47_proposedYear[other]" data-otherhint="Other" size="15" id="input_47" data-placeholder="Please type another option here" placeholder="Please type another option here" /></span></span>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_dropdown" id="id_48"><label class="form-label form-label-top form-label-auto" id="label_48" for="input_48" aria-hidden="false"> Proposed Year level </label>
                    <div id="cid_48" class="form-input-wide" data-layout="half"> <select class="form-dropdown" id="input_48" name="q48_proposedYear48" style="width:310px" data-component="dropdown" aria-label="Proposed Year level">
            <option value="">Please Select</option>
            <option value="ELC">ELC</option>
            <option value="Prep">Prep</option>
            <option value="Grade 1">Grade 1</option>
            <option value="Grade 2">Grade 2</option>
            <option value="Grade 3">Grade 3</option>
            <option value="Grade 4">Grade 4</option>
            <option value="Grade 5">Grade 5</option>
            <option value="Year 6">Year 6</option>
            <option value="Year 7">Year 7</option>
            <option value="Year 8">Year 8</option>
            <option value="Year 9">Year 9</option>
            <option value="Year 10">Year 10</option>
            <option value="Year 11">Year 11</option>
            <option value="Year 12">Year 12</option>
          </select> </div>
                </li>
                <li id="cid_41" class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-small">
                        <div class="header-text httac htvam">
                            <h3 id="header_41" class="form-header" data-component="header">Upon submission of your booking, an email will be sent to you containing the date and time of your scheduled tour.</h3>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_button" id="id_25">
                    <div id="cid_25" class="form-input-wide" data-layout="full">
                        <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><button id="input_25" type="submit" class="form-submit-button form-submit-button-inbox-400 submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit</button></div>
                    </div>
                </li>
                <li style="display:none">Should be Empty: <input type="text" name="website" value="" type="hidden" /></li>
            </ul>
        </div>
        <script>
            JotForm.showJotFormPowered = "0";
        </script>
        <script>
            JotForm.poweredByText = "Powered by Jotform";
        </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="230597629186873" />
        <script type="text/javascript">
            var all_spc = document.querySelectorAll("form[id='230597629186873'] .si" + "mple" + "_spc");
            for (var i = 0; i < all_spc.length; i++) {
                all_spc[i].value = "230597629186873-230597629186873";
            }
        </script>
    </form>
</body>

</html>
<script src="forms/cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.48878"></script>
<script src="forms/cdn.jotfor.ms//js/errorNavigation.js?v=3.3.48878"></script>
<script type="text/javascript">
    JotForm.isNewSACL = true;
</script>